{% extends "banner_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
    <h1>{% trans "Value Accounting prototype" %}</h1>
    <p>
        {% blocktrans %}
        This project is just getting started.
        {% endblocktrans %}
    </p>
    
    <h2>About Value Accounting</h2>
    <p>
        {% blocktrans %}
        It means accounting for <a href="https://docs.google.com/document/d/1yjcxlN4RN0Trr1TeuG3YOuxQWgvHetxP2HzBvh9dZfo/edit" target="_blank">Value Networks</a>.
        {% endblocktrans %}
    </p>

{% comment %}    
    {% if user.is_authenticated %}
        {% url what_next as what_next_url %}
        <p class="what_next">{% blocktrans %}Wondering <a href="{{ what_next_url }}" class="btn primary large">What Next</a>?{% endblocktrans %}</p>
    {% else %}
        {% url account_login as login_url %}
        {% url account_signup as signup_url %}
        <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn">Log In</a> or <a href="{{ signup_url }}" class="btn primary">Sign Up</a> to try out the site.{% endblocktrans %}</p>

    {% endif %}
{% endcomment %}
{% endblock %}
