{% load i18n %}
{% load thumbnail %}
{% load bootstrap_tags %}

		{% if resource_type.photo %}
			<img src="{% thumbnail resource_type.photo photo_size %}" />
		{% endif %}

		{% if user.is_authenticated %}
			<div style="display: inline;" >
				<a href="#resourceChangeForm{{ resource_type.id }}" role="button" class="btn btn-primary" data-toggle="modal">Change</a>
			</div>


			<div class="modal hide fade" id="resourceChangeForm{{ resource_type.id }}" tabindex="-1" role="dialog" aria-labelledby="resource-change-label" aria-hidden="true">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="resource-change-label">Change {{ resource_type }}</h3>
				</div>
				<div class="modal-body">
					<form class="resource-change-form" enctype="multipart/form-data" action="{% url change_resource_type resource_type_id=resource_type.id %}" method="POST" >
						{% csrf_token %}
						{{ resource_type.change_form|as_bootstrap }}
						<input type="hidden" name="next" value="{% url resource_types %}" />
					  <div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
						<button class="btn btn-primary">Save changes</button>
					  </div>


					</form>
			  </div>

			</div>

			<div style="display: inline;" >
				<a href="{% url delete_resource_type_confirmation resource_type_id=resource_type.id %}" role="button" class="btn btn-warning" >Delete</a>
			</div>

		{% endif %}

		{% if resource_type.producing_process_type_relationships %}
			<a href="{% url extended_bill resource_type_id=resource_type.id %}" role="button" class="btn btn-info" >View Recipe</a>
		{% endif %}

		{% if user.is_authenticated %}
			<a href="{% url edit_extended_bill resource_type_id=resource_type.id %}" role="button" class="btn btn-info" >
				{% if resource_type.producing_process_type_relationships %}
					Change Recipe
				{% else %}
					Create Recipe
				{% endif %}
			</a>
		{% endif %}

		{% if resource_type.description %}
			<div class="description" >{{ resource_type.description|urlize|linebreaks }}</div>
		{% endif %}


