{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Demand" %}{% endblock %}

{% block body_class %}projects{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>
		<legend>{% trans "Demand" %}</legend>
			{% if user.is_authenticated %}
				<p>
					<a class="btn" href="{% url create_order %}">Create Order</a>
				</p>
			{% endif %}
			{% if orders %}
		        <h3 style="margin-bottom: 4px;" >Open Orders:</h3>
				<ul>
				    {% for order in orders %}
						<li>
                            <a href="{% url order_schedule order_id=order.id %}">{{ order }}</a> 
                            <a class="btn btn-warning" href="{% url delete_order_confirmation order_id=order.id %}">Delete</a>
                        </li>
					{% endfor %}
				</ul>
			{% endif %}


	</div>
    </div>
{% endblock %}
