{% extends "site_base.html" %}

{% load i18n %}
{% load thumbnail %}
{% load bootstrap_tags %}

{% block head_title %}{% trans " Edit Recipe for " %} {{ resource_type }}{% endblock %}

{% block extra_head %}

<style>
h4 {
	margin-top: 1em; 
	margin-bottom: 1em;
} 
h4 a {
	font-size: 1.4em;
}

ul {
	list-style-type:none;
	margin-left: 0;
}

.xb ul {
	margin-top: .8em;
}

.xb li {
	border: 1px solid gainsboro; 
	padding: 1em;
	font-weight: bold;
}

.economic-agent {
	background-color: whitesmoke;
}

.economic-resource-type {
	background-color: lightyellow;
}

.process-type {
	background-color: beige;
}

.description {
	font-style: italic;
	font-weight: normal;
}

.btn-info {
	margin-top: 2px;

}
</style>
{% endblock %}

{% block body_class %}projects{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>
		<h1>{% trans "Edit Recipe for " %} {{ resource_type }}</h1>

        <h4>
			{% if resource_type.url %}
				<a href="{{ resource_type.url }}" target="blank">{{ resource_type }}</a>
			{% else %}
				{{ resource_type }}
			{% endif %}
			{% if resource_type.photo %}
				<img src="{% thumbnail resource_type.photo big_photo_size %}" />
			{% endif %}

			<div style="display: inline;" >
				<a href="#resourceChangeForm" role="button" class="btn btn-primary" data-toggle="modal">Change</a>
			</div>


			<div class="modal hide fade" id="resourceChangeForm" tabindex="-1" role="dialog" aria-labelledby="resource-change-label" aria-hidden="true">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="resource-change-label">Change {{ resource_type }}</h3>
				</div>
				<div class="modal-body">
					<form class="resource-change-form" enctype="multipart/form-data" action="{% url change_resource_type resource_type_id=resource_type.id %}" method="POST" >
						{% csrf_token %}
						{{ resource_type_form|as_bootstrap }}
						<input type="hidden" name="next" value="{% url edit_extended_bill resource_type_id=resource_type.id %}" />
					  <div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
						<button class="btn btn-primary">Save changes</button>
					  </div>


					</form>
			  </div>

			</div>

		</h4>
		{% if resource_type.description %}
			<div class="description" >{{ resource_type.description|urlize|linebreaks }}</div>
		{% endif %}

		<div style="margin-bottom: 2px;" >
			<a href="#processForm{{ resource_type.id }}" role="button" class="btn btn-info" data-toggle="modal">
				{% if resource_type.producing_process_type_relationships %}
					Add another process type to create {{ resource_type }}
				{% else %}
					Add a process type to create {{ resource_type }}
				{% endif %}
			</a>
		</div>


		<div class="modal hide fade" id="processForm{{ resource_type.id }}" tabindex="-1" role="dialog" aria-labelledby="process-label" aria-hidden="true">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="process-label">Add a process type to create {{ resource_type }}</h3>
		  </div>
		  <div class="modal-body">
				<form class="process-form" action="{% url create_process_type_for_resource_type resource_type_id=resource_type.id %}" method="POST">
						{% csrf_token %}
					{{ process_form|as_bootstrap }}
					<input type="hidden" name="next" value="{% url edit_extended_bill resource_type_id=resource_type.id %}" />
				  <div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
					<button class="btn btn-primary">Save changes</button>
				  </div>


				</form>
		  </div>

		</div>

		{% for node in nodes %}
			{% if not node.open and not node.close %}
				</li>
			{% endif %}
    
			{% if node.open %}
    				<ul class="xb" >
			{% endif %}

			{% with xb_type=node.xbill_class xbill_object=node.xbill_object xbill_node=node.node %}

				<li  class="xb  {{ xb_type }}" >

{% comment %}
					<p>xbill node: {{ xbill_node }} Id: {{ xbill_node.node_id }} xb_type: {{ xb_type }}</p>
					<p>xbill_object: {{ xbill_object }} Id: {{ xbill_object.node_id }}</p>
{% endcomment %}

					{{ node.xbill_explanation }}: {{ node.xbill_label }}

					{% if xbill_object.url %}
						<a href="{{ xbill_object.url }}" target="blank">{{ xbill_object }}</a>
					{% else %}
						 {{ xbill_object }}
					{% endif %}

					{% if xbill_object.photo %}
						<img src="{% thumbnail xbill_object.photo photo_size %}" />
					{% endif %}

					{% if xb_type == "process-type" %}
						<div style="display: inline;" >
							<a href="#processChangeForm{{ xbill_object.node_id }}" role="button" class="btn btn-primary" data-toggle="modal">Change</a>
						</div>


						<div class="modal hide fade" id="processChangeForm{{ xbill_object.node_id }}" tabindex="-1" role="dialog" aria-labelledby="process-change-label" aria-hidden="true">
						  <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h3 id="process-change-label">Change {{ xbill_object }}</h3>
						  </div>
						  <div class="modal-body">
								<form class="process-change-form" action="{% url change_process_type process_type_id=xbill_object.id %}" method="POST" >
									{% csrf_token %}
									{{ xbill_object.xbill_change_form|as_bootstrap }}
									<input type="hidden" name="next" value="{% url edit_extended_bill resource_type_id=resource_type.id %}" />
								  <div class="modal-footer">
									<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
									<button class="btn btn-primary">Save changes</button>
								  </div>


								</form>
						  </div>

						</div>


					{% endif %}

					{% if xb_type == "economic-resource-type" %}
						<div style="display: inline;">
							<a href="#changeInputForm{{ xbill_node.node_id }}" role="button" class="btn btn-primary" data-toggle="modal">Change</a>
						</div>


						<div class="modal hide fade" id="changeInputForm{{ xbill_node.node_id }}" tabindex="-1" role="dialog" aria-labelledby="change-input-label" aria-hidden="true">
						  <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h3 id="change-input-label">Change {{ xbill_node }}</h3>
						  </div>
						  <div class="modal-body">
								<form class="change-input-form" action="{% url change_process_type_input input_id=xbill_node.id %}" method="POST" >
									{% csrf_token %}
									{{ xbill_node.xbill_change_form|as_bootstrap }}
									<input type="hidden" name="next" value="{% url edit_extended_bill resource_type_id=resource_type.id %}" />
								  <div class="modal-footer">
									<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
									<button class="btn btn-primary">Save changes</button>
								  </div>


								</form>
						  </div>

						</div>

					{% endif %}


					{% if xb_type == "economic-agent" %}

						<div style="display: inline;" >
							<a href="#changeSourceForm{{ xbill_node.node_id }}" role="button" class="btn btn-primary" data-toggle="modal">Change</a>							
						</div>

						<div class="modal hide fade" id="changeSourceForm{{ xbill_node.node_id }}" tabindex="-1" role="dialog" aria-labelledby="change-source-label" aria-hidden="true">
						  <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h3 id="change-source-label">Change {{ xbill_node }}</h3>
						  </div>
						  <div class="modal-body">
								<form class="change-source-form" action="{% url change_agent_resource_type agent_resource_type_id=xbill_node.id %}" method="POST" >
									{% csrf_token %}
									{{ xbill_node.xbill_change_form|as_bootstrap }}
									<input type="hidden" name="next" value="{% url edit_extended_bill resource_type_id=resource_type.id %}" />
								  <div class="modal-footer">
									<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
									<button class="btn btn-primary">Save changes</button>
								  </div>

								</form>
						  </div>

						</div>

					{% endif %}

					{% if xbill_object.description %}
						<div class="description" >{{ xbill_object.description|urlize|linebreaks }}</div>
					{% endif %}


						{% if xb_type == "economic-resource-type" %}
						<div>
							<a href="#processForm{{ xbill_object.node_id }}" role="button" class="btn btn-info" data-toggle="modal">
								{% if xbill_object.producing_process_type_relationships %}
									Add another process type to create {{ xbill_object }}
								{% else %}
									Add a process type to create {{ xbill_object }}
								{% endif %}
							</a>
						</div>


						<div class="modal hide fade" id="processForm{{ xbill_object.node_id }}" tabindex="-1" role="dialog" aria-labelledby="process-label" aria-hidden="true">
						  <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h3 id="process-label">Add a process type to create {{ xbill_object }}</h3>
						  </div>
						  <div class="modal-body">
								<form class="process-form" action="{% url create_process_type_for_resource_type resource_type_id=xbill_object.id %}" method="POST" >
									{% csrf_token %}
									{{ process_form|as_bootstrap }}
									<input type="hidden" name="next" value="{% url edit_extended_bill resource_type_id=resource_type.id %}" />
								  <div class="modal-footer">
									<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
									<button class="btn btn-primary">Save changes</button>
								  </div>


								</form>
						  </div>

						</div>

						<div>
							<a href="#sourceForm{{ xbill_object.node_id }}" role="button" class="btn btn-info" data-toggle="modal">Add a source for {{ xbill_object }}</a>							
						</div>

						<div class="modal hide fade" id="sourceForm{{ xbill_object.node_id }}" tabindex="-1" role="dialog" aria-labelledby="source-label" aria-hidden="true">
						  <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h3 id="source-label">Add a source for {{ xbill_object }}</h3>
						  </div>
						  <div class="modal-body">
								<form class="source-form" action="{% url create_agent_resource_type resource_type_id=xbill_object.id %}" method="POST" >
									{% csrf_token %}
									{{ source_form|as_bootstrap }}
									<input type="hidden" name="next" value="{% url edit_extended_bill resource_type_id=resource_type.id %}" />
								  <div class="modal-footer">
									<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
									<button class="btn btn-primary">Save changes</button>
								  </div>

								</form>
						  </div>

						</div>

						{% endif %}

						{% if xb_type == "process-type" %}
						<div>
							<a href="#inputForm{{ xbill_object.node_id }}" role="button" class="btn btn-info" data-toggle="modal">Add an input to {{ xbill_object }}</a>
						</div>

						<div class="modal hide fade" id="inputForm{{ xbill_object.node_id }}" tabindex="-1" role="dialog" aria-labelledby="input-label" aria-hidden="true">
						  <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h3 id="input-label">Add an input to {{ xbill_object }}</h3>
						  </div>
						  <div class="modal-body">
								<form class="input-form" action="{% url create_process_type_input process_type_id=xbill_object.id %}" method="POST" >
									{% csrf_token %}
									{{ input_form|as_bootstrap }}
									<input type="hidden" name="next" value="{% url edit_extended_bill resource_type_id=resource_type.id %}" />
								  <div class="modal-footer">
									<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
									<button class="btn btn-primary">Save changes</button>
								  </div>

								</form>
						  </div>

						</div>

						{% endif %}

				{% for close in node.close %}
					</li>
					</ul>
				{% endfor %}

			{% endwith %}

		{% endfor %}

	</div>

    </div>

{% endblock %}

{% block extra_script %}
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
{% endblock %}

{% block extra_body %}
	{{ block.super }}
    <script type="text/javascript">

	$(document).ready(function(){

		$('.resource-change-form').each( function(){
			var form = $(this);
			form.validate({
				rules: {
					name: {
						required: true
					},
					url: {
						url: true
					},
				},
				highlight: function(label) {
					$(label).closest('.control-group').addClass('error');
				},
				success: function(label) {
					label
						.text('OK!').addClass('valid')
						.closest('.control-group').addClass('success');
				}
			});
		});

		$('.source-form').each( function(){
			var form = $(this);
			form.validate({
				rules: {
					lead_time: {
						number: true
					},
					value: {
						number: true
					},
				},
				highlight: function(label) {
					$(label).closest('.control-group').addClass('error');
				},
				success: function(label) {
					label
						.text('OK!').addClass('valid')
						.closest('.control-group').addClass('success');
				}
			});
		});

		$('.change-source-form').each( function(){
			var form = $(this);
			form.validate({
				rules: {
					lead_time: {
						number: true
					},
					value: {
						number: true
					},
				},
				highlight: function(label) {
					$(label).closest('.control-group').addClass('error');
				},
				success: function(label) {
					label
						.text('OK!').addClass('valid')
						.closest('.control-group').addClass('success');
				}
			});
		});

		$('.process-form').each( function(){
			var form = $(this);
			form.validate({
				rules: {
					name: {
						required: true
					},
					url: {
						url: true
					},
					estimated_duration: {
						number: true
					},
					quantity: {
						required: true,
						number: true
					},
				},
				highlight: function(label) {
					$(label).closest('.control-group').addClass('error');
				},
				success: function(label) {
					label
						.text('OK!').addClass('valid')
						.closest('.control-group').addClass('success');
				}
			});
		});

		$('.process-change-form').each( function(){
			var form = $(this);
			form.validate({
				rules: {
					name: {
						required: true
					},
					url: {
						url: true
					},
					estimated_duration: {
						number: true
					}
				},
				highlight: function(label) {
					$(label).closest('.control-group').addClass('error');
				},
				success: function(label) {
					label
						.text('OK!').addClass('valid')
						.closest('.control-group').addClass('success');
				}
			});
		});


		$('.input-form').each( function(){
			var form = $(this);
			form.validate({
				rules: {
					quantity: {
						number: true
					},
				},
				highlight: function(label) {
					$(label).closest('.control-group').addClass('error');
				},
				success: function(label) {
					label
						.text('OK!').addClass('valid')
						.closest('.control-group').addClass('success');
				}
			});
		});

		$('.change-input-form').each( function(){
			var form = $(this);
			form.validate({
				rules: {
					quantity: {
						number: true
					},
				},
				highlight: function(label) {
					$(label).closest('.control-group').addClass('error');
				},
				success: function(label) {
					label
						.text('OK!').addClass('valid')
						.closest('.control-group').addClass('success');
				}
			});
		});

		$(document).ajaxSend(function(event, xhr, settings) {
			function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie != '') {
				    var cookies = document.cookie.split(';');
				    for (var i = 0; i < cookies.length; i++) {
				        var cookie = jQuery.trim(cookies[i]);
				        // Does this cookie string begin with the name we want?
				        if (cookie.substring(0, name.length + 1) == (name + '=')) {
				            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
				            break;
				        }
				    }
				}
				return cookieValue;
			}
			function sameOrigin(url) {
				// url could be relative or scheme relative or absolute
				var host = document.location.host; // host + port
				var protocol = document.location.protocol;
				var sr_origin = '//' + host;
				var origin = protocol + sr_origin;
				// Allow absolute or scheme relative URLs to same origin
				return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
				    (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
				    // or any other URL that isn't scheme relative or absolute i.e relative.
				    !(/^(\/\/|http:|https:).*/.test(url));
			}
			function safeMethod(method) {
				return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}

			if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
				xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
			}
		});

	}); // end document.ready
    </script>
{% endblock %}
