{% extends "site_base.html" %}

{% load i18n %}
{% load thumbnail %}

{% block head_title %}{% trans "Extended Bill of Manufacturing and Procurement for " %} {{ resource_type }}{% endblock %}

{% block extra_head %}
<style>
h4 {
	margin-top: 1em; 
	margin-bottom: 1em;
} 
h4 a {
	font-size: 1.4em;
}

ul {
	list-style-type:none;
	margin-left: 0;
}

.xb ul {
	margin-top: .8em;
}

.xb li {
	border: 1px solid gainsboro; 
	padding: 1em;
	font-weight: bold;
}

.economic-agent {
	background-color: whitesmoke;
}

.economic-resource-type {
	background-color: lightyellow;
}

.process-type {
	background-color: beige;
}

.description {
	font-style: italic;
	font-weight: normal;
}
</style>
{% endblock %}

{% block body_class %}projects{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>
		<h1>{% trans "Extended Bill of Manufacturing and Procurement for " %} {{ resource_type }}</h1>

        <h4>
			{% if resource_type.url %}
				<a href="{{ resource_type.url }}" target="blank">{{ resource_type }}</a>
			{% else %}
				{{ resource_type }}
			{% endif %}
			{% if resource_type.photo %}
				<img src="{% thumbnail resource_type.photo big_photo_size %}" />
			{% endif %}
		</h4>
		{% if resource_type.description %}
			<div class="description" >{{ resource_type.description|linebreaks }}</div>
		{% endif %}

		{% for node in nodes %}
			{% if not node.open and not node.close %}
				</li>
			{% endif %}
    
			{% if node.open %}
    				<ul class="xb" >
			{% endif %}

			<li  class="xb  {{ node.xbill_class }}" >
				{{ node.xbill_label }}
				{% if node.xbill_object.url %}
					<a href="{{ node.xbill_object.url }}" target="blank">{{ node.xbill_object }}</a>
				{% else %}
					 {{ node.xbill_object }}
				{% endif %}

				{% if node.xbill_object.photo %}
					<img src="{% thumbnail node.xbill_object.photo photo_size %}" />
				{% endif %}

				{% if node.xbill_object.description %}
					<div class="description" >{{ node.xbill_object.description|linebreaks }}</div>
				{% endif %}

			{% for close in node.close %}
    			</li>
    			</ul>
			{% endfor %}

		{% endfor %}

	</div>
    </div>
{% endblock %}
