{% extends "site_base.html" %}

{% load i18n %}
{% load thumbnail %}

{% block head_title %}{% trans "Value Network for " %} {{ resource_type }}{% endblock %}

{% block extra_head %}

{% endblock %}

{% block body_class %}projects{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div style="margin-left: -8em;" >
		<h1>{% trans "Value Network for " %} {{ resource_type }}
			{% if resource_type.photo %}
			<img src="{% thumbnail resource_type.photo photo_size %}" />
			{% endif %}
		</h1>
		<div>
			<div style="float: left;">
				<button id="redraw" onclick="redraw();">redraw</button> or just drag stuff around...
			</div>
			<div style="float: right;">
				<span style="color:blue;">Blue oval = Process</span></br>
				<span style="color:red;">Red rectangle = Resource</span></br>
				<span style="color:green;">Green rectange = Agent</span>
			</div>
			<div style="clear:both;"></div>
		</div>

		<div id="canvas" style="width:100%; height:600px;" ></div>

	</div>


	{% include "valueaccounting/_network_diagram.html" %}

    </div>
{% endblock %}
