{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Confirm deletion of " %}{{ order }}{% endblock %}

{% block body_class %}projects{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>
		<legend>{% trans "Are you sure you want to delete " %}{{ order }}?</legend>
		
		<h3>{% trans "The following objects will be also deleted" %}:</h3>

            <h3 style="margin-top: 1em;" >Order Items:</h3>
			<ul>
		        {% for item in order.producing_commitments %}
					<li>{{ item.quantity }} {{ item.unit_of_quantity }} {{ item.resource_type }} {{ item.feature_label }}</li>
				{% endfor %}
			</ul>

			<div class="row-fluid">

				<div class="span6">
					<h3 style="margin-bottom: 4px;" >Production Schedule:</h3>
					{% for item in sked %}
						<p style="margin-left:{{ item.depth }}em" >
							<b>{{ item.label }}:</b> {{ item }} 
						</p>
					{% endfor %}
				</div>

				<div class="span6">

					<h3 style="margin-bottom: 4px;" >Material Requirements:</h3>
					{% for item in reqs %}
						<p>
							<b>{{ item.resource_type.name }}:</b> {{ item.quantity }} {{ item.unit_of_quantity }} due {{ item.due_date }}
						</p>
						<p style="margin-left: 2em;">
							for process: {{ item.process }}
						</p>
						{% for source in item.resource_type.producing_agent_relationships %}
							<p style="margin-left: 2em;">
								<b>Source:</b> {{ source.agent.name }} Lead time: {{ source.lead_time }} days
							</p>
						{% endfor %}
					{% endfor %}

					<h3 style="margin-bottom: 4px;" >Work Requirements:</h3>
					{% for item in work %}
						<p>
							<b>{{ item.resource_type.name }}:</b> {{ item.quantity }} {{ item.unit_of_quantity }} due {{ item.due_date }}
						</p>
						<p style="margin-left: 2em;">
							for process: {{ item.process }}
						</p>
						{% for source in item.resource_type.producing_agent_relationships %}
							<p style="margin-left: 2em;">
								<b>Source:</b> {{ source.agent.name }}
							</p>
						{% endfor %}
					{% endfor %}

					<h3 style="margin-bottom: 4px;" >Tool Requirements:</h3>
					{% for item in tools %}
						<p>
							<b>{{ item.resource_type.name }}:</b> {{ item.quantity }} {{ item.unit_of_quantity }} due {{ item.due_date }}
						</p>
						<p style="margin-left: 2em;">
							for process: {{ item.process }}
						</p>
						{% for source in item.resource_type.producing_agent_relationships %}
							<p style="margin-left: 2em;">
								<b>Source:</b> {{ source.agent.name }} Lead time: {{ source.lead_time }} days
							</p>
						{% endfor %}
					{% endfor %}

				</div>

			</div>

		<div>
	<form style="display: inline;" action="{% url delete_order order_id=order.id %}" method="POST">
		{% csrf_token %}
    		<input type="submit" value="{% trans 'Delete' %}" class="btn btn-warning" />
	</form>
	<form style="display: inline;" action="{% url demand %}" method="GET">
    		<input type="submit" value="{% trans 'Cancel' %}" class="btn btn-info" />
    </form>

	</div>

	</div>
    </div>
{% endblock %}
