{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Resource Types" %}{% endblock %}

{% block extra_head %}

<style>

.name {
	font-size: 1.4em;
	font-weight: bold;
}

li {
	padding: 4px;
}

</style>
{% endblock %}

{% block body_class %}resource-types{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div class="row-fluid">
		<div class="span10">
		<h1>
			{% trans "Resource Types" %}

			{% if user.is_authenticated %}
				<div style="display: inline;" >
					<a href="#createResourceForm" role="button" class="btn btn-primary" data-toggle="modal">Create new Resource Type</a>
				</div>


				<div class="modal hide fade" id="createResourceForm" tabindex="-1" role="dialog" aria-labelledby="resource-create-label" aria-hidden="true">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="resource-create-label">Create a new Resource Type</h3>
					</div>
					<div class="modal-body">
						<form class="resource-create-form" enctype="multipart/form-data" action="{% url create_resource_type %}" method="POST" >
							{% csrf_token %}
							{{ create_form|as_bootstrap }}
							<input type="hidden" name="next" value="{% url resource_types %}" />
						  <div class="modal-footer">
							<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
							<button class="btn btn-primary">Save changes</button>
						  </div>


						</form>
				  </div>
			{% endif %}

		</h1>
		<ul>
			{% for resource_type in roots %}
				<li>
					<span class="name">{{ resource_type }}</span> {{ resource_type.category.name }}

					{% include  "valueaccounting/_resource_type.html" %}

			</li>

			{% endfor %}
		</ul>
		</div>
		<div class="span2" style="background: lightgrey; padding: 1em;" >
			<h4>Filter by Category</h4>
			<form id="category-form" action="." method="POST">
				{% csrf_token %}
				<p><input type="checkbox" class="category" id="all" name="all" value="all" {% if select_all %}checked="yes"{% endif %} /> All</p>
				{% for cat in categories %}
				<p><input type="checkbox" class="category" id="{{ cat }}" name="{{ cat }}" value="{{ cat }}" /> {{ cat }}</p>
				{% endfor %}
				<input type='hidden' id='categories' name='categories' value='' />
				<input type="submit" name="submit" value="Filter" />
			</form>
		</div>
	</div>
    </div>
{% endblock %}
{% block extra_script %}
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
{% endblock %}
{% block extra_body %}
	{{ block.super }}
    <script type="text/javascript">

	$(document).ready(function(){

		var selectedCats = "{{ selected_cats }}";

		$('.category').each(function()
		{
			var cat = $(this)[0];
            if (selectedCats.indexOf(cat.name) > -1)
			{
				$(this).prop('checked', true);
			}
		});

		$('.category').click(function() 
		{
			var checkedCats = [];
			var checkedBox = $(this)[0];
			var allBox = $('#all')[0];
			if (checkedBox == allBox)
			{
				$('.category').each(function()
				{
		            $(this).prop('checked', false);
				});
				$('#all').prop('checked', true);
				checkedCats.push('all');
			}
			else
			{
				$('#all').prop('checked', false);
				$('.category').each(function()
				{
					var cat = $(this)[0];
		            if (cat.checked)
					{
						checkedCats.push(cat.value);
					}
				});
			}
			$('#categories').prop('value', checkedCats);
		});

		$('.resource-create-form').validate(
		{
			rules: {
				name: {
					required: true
				},
				url: {
					url: true
				},
			},
			highlight: function(label) {
				$(label).closest('.control-group').addClass('error');
			},
			success: function(label) {
				label
					.text('OK!').addClass('valid')
					.closest('.control-group').addClass('success');
			}

		});

		$('.resource-change-form').each( function(){
			var form = $(this);
			form.validate({
				rules: {
					name: {
						required: true
					},
					url: {
						url: true
					},
				},
				highlight: function(label) {
					$(label).closest('.control-group').addClass('error');
				},
				success: function(label) {
					label
						.text('OK!').addClass('valid')
						.closest('.control-group').addClass('success');
				}
			});
		});


	}); // end document.ready

    </script>
{% endblock %}
