{% extends "site_base.html" %}

{% load i18n %}
{% load url from future %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Value Time Contributions for " %} {{ project }}{% endblock %}

{% block extra_head %}
<style>

textarea {
  width: 800px;
}

	table
	{
		font-size: 100%; 
		border-collapse: collapse; 
		border-style: solid; 
		border-width: 1px; 
		border-color: lightgrey;	
	}

	th
	{
		font-weight: bold;
		color: gray;
		background-color:#EAF2D3;
		text-align: left;
		border-style: solid; 
		border-width: 1px; 
		border-color: lightgrey;
	}

	td
	{
		border-style: solid; 
		border-width: 1px; 
		border-color: lightgrey;
	}

	th, td
	{
		padding-left:5px;
	}

	tr.even td 
	{
		color:#000000;
		background-color:#EAF2D3;
	}

</style>

{% endblock %}

{% block body_class %}projects{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>
		<legend>{% trans "Value Time Contributions for " %} {{ project }}</legend>

			<p>
				Enter an equation using the parameters hours, rate, reputation, seniority, and importance. 
				</br>The result will be the value of the time contribution.
				</br>Please leave a space between each element of the equation.
        	</p>

			<p>
				Your equation will be saved along with its results, so that the community can decide on which equation to use.
			</p>
			
			<form method="POST" action="">
			{% csrf_token %}
			<div style="float: left;">

		    {{ form|as_bootstrap }}
			</div>

		    <div class="form-actions" style="float: left;">
		        <button class="btn btn-primary" type="submit">Compute</button>
		    </div>
			<div style="clear:both;"></div>
			</form>


	<div style="float: left; width: 60%">
		<table style="width: 100%;" >
			<thead>
				<th>Member</th>
				<th>Project</th>
				<th>Resource Type</th>
				<th>Rate</th>
				<th>Hours</th>
				<th>Reputation</th>
				<th>Seniority</th>
				<th>Importance</th>
				<th>Value</th>
			</thead>
			<tbody>	
				{% for event in events %}
					<tr class="{% cycle 'odd' 'even' %}">
						<td>{{ event.agent }}</td>
						<td>{{ event.project }}</td>
						<td>{{ event.resource_type }}</td>
						<td style="text-align: right;" >{{ event.resource_type_rate }}</td>
						<td style="text-align: right;" >{{ event.quantity_formatted }}</td>
						<td style="text-align: right;" >{{ event.reputation }}</td>
						<td style="text-align: right;" >{{ event.agent.seniority }}</td>
						<td style="text-align: right;" >{{ event.importance }}</td>
						<td style="text-align: right;" >{{ event.value_formatted }}</td>
					</tr>
				{% endfor %}
			<tbody>	
		</table>
		<div class="pagination">
			<span class="step-links">
				{% if events.has_previous %}
				    <a href="?page={{ events.previous_page_number }}">previous</a>
				{% endif %}

				<span class="current">
				    Page {{ events.number }} of {{ events.paginator.num_pages }}.
				</span>

				{% if events.has_next %}
				    <a href="?page={{ events.next_page_number }}">next</a>
				{% endif %}
			</span>
		</div>
	</div>
	<div style="float: left; padding-left: 1em;">
		{% if agent_totals %}
		<table style="width: 100%;" >
			<thead>
				<th>Member</th>
				<th>Total Value</th>
				<th>Percentage</th>
				<th>Amount Distributed</th>
			</thead>
			<tbody>	
				{% for at in agent_totals %}
					<tr class="{% cycle 'odd' 'even' %}">
						<td>{{ at.agent }}</td>
						<td style="text-align: right;" >{{ at.value }}</td>
						<td style="text-align: right;" >{{ at.percentage }}</td>
						<td style="text-align: right;" >{{ at.amount }}</td>
					</tr>
				{% endfor %}
			<tbody>	
		</table>
		{% endif %}
	</div>
	<div style="clear:both;"></div>
	</div>
    </div>
{% endblock %}
